@import '../../styles/imports';

.tokenListBlock {
  @extend %extends-hide-scrollbar;
  overflow-y: scroll;

  > ul.tokenList {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: palevioletred;

    > li.tokenItem {
      > span {
        font-size: 12px;
        text-transform: uppercase;

        // &.symbol {}
        // &.price {}
      }
    }
  }
}
